<html>
    <head>
        <!--Título da página-->
        <title>Entre ou Cadastre-se</title>

        <!--Tags meta-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Importação Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        
        <!-- Importação CSS externo -->
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>

        <!-- Importação do jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        
        <!-- Verifica botao selecionado com jQuery-->

    </head>
    <body style="background-color: #1b5788;">
        

        <section class="container-fluid" id="login">
            <div class="row bem-vindo">
                <div class="col-md-12">
                    <p class="text-right"><button onclick="window.location.href='/'"  type="button" class="btn" style=" border-radius: 10pt; border: solid white 2px; color: white; ">LOG OUT</button></p>
                    <p class="titulo2 text-center" style="margin-top:50px; color:white">usuario Cadastrado com sucesso!</p>
                    
                    </br>
                </div>
            </div>
        </section>        
       
    </body>
</html>
